<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tourandtravel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourAndTravel"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UserAppRegistration"
            android:exported="false" />
        <activity
            android:name=".SearchTrip"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".SearchLayout"
            android:exported="false" />
        <activity
            android:name=".SmallTripSearchResult"
            android:exported="false" />
        <activity
            android:name=".PaymentGatewayLiveRegistration2"
            android:exported="false"
            android:parentActivityName=".LiveRegistration" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".ViewMore"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SmallTrips"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LiveRegistration"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>